.hidden{
    display: none;
}

.greeting{
    position: absolute;
    top: 35%;
    width: 100%;
    z-index: -1;
    color: white;
}

#logInForm input{
    text-align: center;
    width: 300px;
    height: 32;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid wheat;
    background: transparent;
    color: aliceblue;
}
#logInForm input::placeholder{color: aliceblue;}